<!DOCTYPE html>

<html>
<head>
  <title>Nombre de la Empresa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<script src="funcionesAjax.js"></script>
  <style>
      .header1 
      {
      	font-size:150%;
        color: black;
        padding: 20px;
        text-align: center;
  		position: relative;
      }
      .Text 
      { 
     	padding: 30px;
     	margin: 10px;
     	margin-left: 100px;
        text-align: center;
  		position: relative;
      }
      .downText 
      {
      	color: black;
      	text-align: center;
  		position: relative;
      }
      .imagen
      {
      	opacity: 0.5;
      }      
  </style>
</head>
<body background = "garajePortada.jpg" >
	<div class="header1" >
        <div class="text-center">
      		<h1>Nombre de la empresa</h1>
    	 </div>
    </div>  
 <div class="Text">  
    <div>
        <div>
              <h2 class="text-center">
              	Únete y beneficiate de las oportunidades que te ofrecemos!
              </h2>
        </div>
        <p>
        </p>
        <p> 
        </p>
        <div>
            <div>
				<label for="email">Usuario:</label>
                <input type="text" class="form-control"  id="usuario" name="usuario">
            </div>
            <p></p>
            <div>
                <label for="contraseña">Contraseña:</label>
                <input type="password" class="form-control" id="contraseña"  name="contraseña">
            </div>
            <p> </p>
            <button type="button" id="iniciosesion">Iniciar sesión</button>
            <button type="button" id="registrar" onclick="location='registroUsuario.html'">Registrar Usuario</button>
            <p></p>
            <p></p>       
        </div>
    </div>
  </div>
<div class="downText" >
    <div class="text-center">
        www.nombredelaempresa.com
    </div>
</div>			
</body>
<script type="text/javascript">
	$(document).ready(function(){
        $('#iniciosesion').click(function(){
			var usuario = document.getElementById("usuario");
			var contraseña = document.getElementById("contraseña");
            login(usuario, contraseña);
        });
    });
		
		

</script>
</html>
